#project-title {
    width: 150px;
    height: 35px;
    margin-right: 5px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    z-index: 12;
    color: #ccc;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-mask-image: linear-gradient(to right, black 85%, transparent 100%);
    mask-image: linear-gradient(to right, black 85%, transparent 100%);
}
#project-title:hover {
    background: #4a4a4a;
    border-radius: 6px 6px 0 0;
}

#file-tabs {
    display: flex;
    align-items: flex-end;
    background: #3c3c3c;
    padding: 0 10px 0 55px;
    box-sizing: border-box;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    transition: left 0.3s ease, width 0.3s ease, background-color 0.2s;
}

#file-tabs.file-panel-open #tabs-container {
    left: 250px;
}

#menu-btn {
    position: absolute;
    top: 5px;
    right: 150px;
    width: 30px;
    height: 30px;
    background-color: #2d2d2d;
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    z-index: 12;
    border: 1px solid #3c3c3c;
    user-select: none;
}
#menu-btn:hover {
    background-color: #4a4a4a;
    color: #fff;
}


#copy-btn {
    position: absolute;
    top: 5px;
    right: 115px;
    width: 30px;
    height: 30px;
    background-color: #2d2d2d;
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    z-index: 12;
    border: 1px solid #3c3c3c;
    user-select: none;
}
#copy-btn:hover {
    background-color: #4a4a4a;
    color: #fff;
}

#paste-project-btn {
    position: absolute;
    top: 5px;
    right: 80px;
    width: 30px;
    height: 30px;
    background-color: #2d2d2d;
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    z-index: 12;
    border: 1px solid #3c3c3c;
    user-select: none;
}
#paste-project-btn:hover {
    background-color: #4a4a4a;
    color: #fff;
}

#run-btn {
    position: absolute;
    top: 5px;
    right: 45px;
    width: 30px;
    height: 30px;
    background-color: #2d2d2d;
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    z-index: 12;
    border: 1px solid #3c3c3c;
    user-select: none;
}
#run-btn:hover {
    background-color: #4a4a4a;
    color: #fff;
}

#launcher-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #2d2d2d;
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    z-index: 12;
    border: 1px solid #3c3c3c;
    user-select: none;
}
#launcher-btn:hover {
    background-color: #4a4a4a;
    color: #fff;
}

.live-update-switch {
  position: absolute;
  top: 12px;
  left: 15px;
  width: 28px;
  height: 16px;
  z-index: 12;
}
.live-update-switch input { display: none; }

.slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #555; transition: .4s; border-radius: 16px; }
.slider:before { position: absolute; content: ""; height: 12px; width: 12px; left: 2px; bottom: 2px; background-color: #ccc; transition: .4s; border-radius: 50%; }
input:checked + .slider { background-color: #292622; }
input:checked + .slider:before { transform: translateX(12px); }

#file-tabs.text-drag-over {
    background-color: #3c3c3c;
    box-shadow: none;
}

#drag-drop-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: row;
    z-index: 13;
    pointer-events: none;
}

#file-tabs.text-drag-over #drag-drop-overlay {
    display: flex;
}

.drop-zone {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    box-sizing: border-box;
}

#drop-zone-tag {
    background-color: rgba(73, 146, 201, 0.8); /* Blue */
}

#drop-zone-nothing {
    background-color: rgba(189, 99, 197, 0.8); /* Purple */
}

#drop-zone-inject {
    background-color: rgba(94, 185, 94, 0.8); /* Green */
}
